<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <header>
        <h1>Add Course</h1>
    </header>
        <body>
            <a href = "{{ url_for('courses') }}"><div class = "button" id="added">All Courses</div></a>
                <div class="body">
                    <div class="adddel">        
                        Course successfully added. 
                    </div>
                </div>
        </body>
</html>